{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<script>
    const PROJECT_NAME = "{{ project.project_name }}";
</script>


<div class="index-grid">
    <div class="middle-column">
        <div class="chunk-block", style="max-height: 600px;">
            <h2><strong> {{ project.project_name }}</strong></h2>
            <h3>Total Files: {{ project.total_files }}</h3>

            <div class="index-grid">
                <div>
                    <h3>File Types</h3>
                    <ul>
                        {% for ft in project.file_types %}
                            <b><li>{{ ft.type }}: {{ ft.count }}</li></b>      
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    <h3>File Chart</h3>
                    <img src="/static/projects/{{ project.project_name }}/chat.png"
                    alt="File Type Chart"
                    style="width: 100%; max-width: 300px; height: 300px">
                </div>
            </div>
        </div>
        <div class="chunk-block">
            <h3>Analysis Chart</h3>
            <img src="/static/projects/{{ project.project_name }}/analysis.png"
                alt="Analysis Summary Chart"
                style="width: 100%; max-width: 500px;">
        </div>
    </div>

    <div class="middle-column">

        <div class="chunk-block">
            <button onclick="showTab('html')">HTML Triggers</button>
            <button onclick="showTab('js')">JS Functions</button>
            <button onclick="showTab('api')">API Routes</button>
            <button onclick="showTab('classes')">Service Classes</button>
            <button onclick="showTab('functions')">Core Functions</button>
        </div><br/>
        
        <h2>Analysis</h2>
        <div id="html" class="analysis-window"></div>
        <div id="js" class="analysis-window"></div>
        <div id="api" class="analysis-window"></div>
        <div id="classes" class="analysis-window"></div>
        <div id="functions" class="analysis-window"></div>
    </div>
</div>

{% endblock %}
