{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}

<script>
    const PROJECT_NAME = "{{ project }}";
</script>

<div class="index-grid">

    <div class="middle-column">

        <div class="chunk-block block-500">
            <h2><strong>{{ project }}</strong></h2>
        </div>

        <div id="html" class="chunk-block">
            <h3>Analysis Chart</h3>
            <div class="index-grid">
                <div style="max-width: 200px;">
                    <button onclick="showTab('html')">HTML Triggers</button>
                </div>
            </div>
        </div>

    </div>

    <div class="middle-column">
        <h2>Analysis</h2>
        <div class="analysis-window"></div>
    </div>
</div>

{% endblock %}
